html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Fira Sans Condensed', 'Arial Narrow', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

main {
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1024px;
}

#table-heading {
    font-family: 'Fira Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #868686;
    margin: 24px 0 16px;
}

section {
    margin: 16px 0;
    border: 1px solid lightgray;
    border-radius: 8px;
}

small {
    font-family: 'Fira Sans Condensed', 'Arial Narrow', sans-serif;!important;
    font-size: 12px;
    color: #5EC5B3;
}

/* Short lesson's information */
/* Collapsed list */
.expanded {
    display: block;
}

.collapsed {
    display: none;
}

.list-header {
    width: 100%;
    display: flex;
    padding: 0 22px 0 22px;
    align-items: baseline;
}

.lesson-number {
    font-size: 20px;
    color: #278AE2;
    white-space: nowrap;
    margin: 0 18px 0 0;
}

.lesson-heading {
    width: 100%;
    margin-bottom: 24px;
    font-family: 'Fira Sans', Arial, sans-serif;
    font-weight: 500;
}

.lesson-heading p {
    margin-bottom: 0;
}

.lesson-heading small {
    color: #278AE2;
}

.is-viewed {
    flex: none;
    width: 142px;
}

.collapse-expand {
    flex: none;
    width: 16px;
    text-align: right;
    color: #278AE2;
}

/* Expanded list */
.list-caption {
    display: flex;
    padding: 0 22px 12px 22px;
    border-bottom: 1px solid gray;
}

.list-caption small {
    color: #868686;
}

.theme {
    width: 100%;
}

.test {
    flex: none;
    width: 120px;
    align-self: center;
    color: #5EC5B3;
}

.test i {
    font-size: 22px;
}

.status {
    flex: none;
    width: 116px;
    align-self: center;
    color: #5EC5B3;
}

.list-item {
    display: flex;
    padding: 6px 22px;
    border-bottom: 1px solid gray;
}

.list-item:last-child {
    border: none;
}
