html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Fira Sans Condensed', 'Arial Narrow', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

main {
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1024px;
}

#table-heading {
    font-family: 'Fira Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #868686;
    margin: 24px 0 16px;
}

section {
    margin: 16px 0;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

small {
    font-family: 'Fira Sans Condensed', 'Arial Narrow', sans-serif !important;
    font-size: 12px;
    color: #5EC5B3;
}

/* Short lesson's information */
/* Collapsed list */
.expanded {
    display: block;
}

.collapsed {
    display: none;
}

.list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0 22px 0 22px;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    cursor: pointer;
}

.lesson-number {
    font-size: 20px;
    color: #278AE2;
    white-space: nowrap;
    margin: 0 18px 0 0;
}

.lesson-heading {
    width: 100%;
    margin-bottom: 24px;
}

.lesson-heading h2 {
    font-family: 'Fira Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}

.lesson-heading small {
    color: #278AE2;
}

.is-viewed {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 148px;
}

.collapse-expand {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 10px;
    text-align: center;
    color: #278AE2;
}

/* Expanded list */
.list-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 22px 12px 22px;
    border-bottom: 1px solid #D1D1D1;
}

.list-caption small {
    color: #868686;
}

.theme {
    width: 100%;
    font-family: 'Fira Sans', Arial, sans-serif;
}

.test {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 120px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-left: 16px;
    color: #5EC5B3;
}

.test i {
    font-size: 22px;
}

.status {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 158px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: #5EC5B3;
}

.list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6px 22px;
    border-bottom: 1px solid #F3F3F3;
}

.list-item:last-child {
    border: none;
}
